<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
    colors="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="natepage/symfony-security Package Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
